<!-- load bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<div class="white-text text-large margin-header">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1><strong>SKO2019 Useful Information</strong></h1><br>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <p><strong>Registration Hours – Hilton Diagonal Mar, Ballroom Foyer
            </strong><br> Monday, January 21st from 1:00 PM - 8:00 PM.</p>
        <p><strong>InfoPoint Hours – CCIB Entrance Hall Floor</strong><br>
            Tuesday, January 22nd from 7:00 AM - 6:00 PM<br>
            Wednesday, January 23rd from 7:00 AM - 6:00 PM <br>
            Thursday, January 24th from 7:00 AM - 12:00 PM</p>
        <p><strong>Internet Access</strong><br> Complimentary wireless internet access is available at any time in the
            conference area. Select “SKO_2019.” Enter the access code “QLIKSKO2019” when prompted.
        </p>
        <p><strong>Venue</strong><br> Barcelona International Convention Center (CCIB)
            Willy Brandt Square 11-1408019 Barcelona, SpainTel: +34 932301000
        </p>
        <p class="text-center"><br>© The Green Line Team (K&L)</p>
    </div>
</div>