<!-- load bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<div class="white-text text-large margin-header">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1><strong>Welcome</strong></h1>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <p>Welcome to Sales Kickoff 2019! </p>
        <p>Below is some useful information for while you are onsite and please reference the <a href="https://www.qliksaleskickoff.com"
                target="_blank" class="white-text"><ins>SKO19website</ins></a> for
            additional information!
        </p>
        <strong>Registration Hours – Hilton Diagonal Mar, Ballroom Foyer</strong>
        <p>Monday, January 21st from 1:00 PM-8:00 PM
        </p>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <p>You can use this App to confirm the time and location of all the general sessions as well as to check which
            room you will be in for the enablement breakouts on both days.
        </p>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <p>We have a great SKO19 agenda planned for you.
            Please come prepared to engage and participate, so that you get the most out of all of the sessions to
            support your successful 2019
        </p>
        <p>Download / View the Conference Centre floorplans <a href="http://qvtraining.qlikview.com.s3.amazonaws.com/sko-2019/CCIB-Floorplan.pdf"
                target="_blank" class="white-text"><ins>here</ins></a></p>
    </div>
</div>